
.ansCount
{
  float: right;
  margin-right: 25%;
}
#Back_mark
{
  float: left;
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 0px;
}
#Submit-Button {

    width: 300px;
}
